<section class="emoji-search o-container" >
  <form>
    <input type="search" name="query" placeholder="type to search for emojis" class="emoji-search__field" [formControl]="term" />
  </form>
  <ul class="emoji-search__results">
    <li *ngFor="let emoji of emojis | async">
      <button class="emoji-search__result-item js-copy-to-clipboard"
              [attr.data-clipboard-text]="emoji"
              (click)="selectEmoji(emoji)">
        {{emoji}}
      </button>
    </li>
  </ul>
  <p *ngIf="selectedEmoji"
     class="emoji-search__clipboard-message">Copied {{selectedEmoji}} to clipboard</p>
</section>
